Track2/4_HKUSTGZ_MICS/code/HKUSTGZ-MICS/Qwen2.5-0.5B-Instruct-runq.bin
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS/Prefill_AICAS.cache/ip/2022.2
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS/Prefill_AICAS.runs/impl_1
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS
/Track2/6_post_moore/code/AICAS_T2_result/Q8_0
/Track2/6_post_moore/code/AICAS_T2_result/KV260/vitis_project/accelerate_wrapper
/Track2/6_post_moore/code/AICAS_T2_result/KV260/ip_repo/gemv_float_q8_1_0/hdl
Track2/7_显存去哪了/code/bin/Qwen2.5-0.5B-Instruct_q80.bin
Track2/7_显存去哪了/code/bin/Qwen2.5-0.5B-Instruct.bin
Track2/7_显存去哪了/code/model/model.safetensors
Track2/7_显存去哪了/code/model_quantized/model.safetensors
