Track2/4_HKUSTGZ_MICS/code/HKUSTGZ-MICS/Qwen2.5-0.5B-Instruct-runq.bin
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS/Prefill_AICAS.cache/ip/2022.2
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS/Prefill_AICAS.runs/impl_1
/Track2/4_HKUSTGZ_MICS/code/Prefill_AICAS
/Track2/6_post_moore/code/AICAS_T2_result/Q8_0
/Track2/6_post_moore/code/AICAS_T2_result/KV260/vitis_project/accelerate_wrapper
/Track2/6_post_moore/code/AICAS_T2_result/KV260/ip_repo/gemv_float_q8_1_0/hdl
Track2/7_显存去哪了/code/bin/Qwen2.5-0.5B-Instruct_q80.bin
Track2/7_显存去哪了/code/bin/Qwen2.5-0.5B-Instruct.bin
Track2/7_显存去哪了/code/model/model.safetensors
Track2/7_显存去哪了/code/model_quantized/model.safetensors
Track2/8_json_team/hardware/project_1.gen/sources_1/bd/system/ip/system_Top_0_0/system_Top_0_0_sim_netlist.vhdl
Track2/8_json_team/hardware/project_1.runs/impl_1/system_wrapper_routed.dcp
Track2/8_json_team/model/model.bin
Track2/8_json_team/pynq/model/model.bin
Track2/9_sg_edge_ai_acceleration/code/exe_submit/params_awq64/fullmodel_combined.bin
Track2/9_sg_edge_ai_acceleration/code/exe_submit/params/fullmodel_combined.bin
Track2/10_HUST_Ody/code/Qwen2.5-0.5B-INT8/Qwen2.5-0.5B-Instruct-INT8.safetensors
Track2/10_HUST_Ody/code/Qwen2.5-0.5B-INT8/Qwen2.5-0.5B-Instruct.bin
Track2/10_HUST_Ody/code/Qwen2.5-0.5B-INT8/model.safetensors
