build/
run
run_*
runq
runq_*
runq4
runq4_*
runbf
runbf_*
__pycache__
submit_json
*.so
qwen_model
qwen_model_quant
*.bin
.vscode
temp/
.conda*
xrt_test
dp_test
package.tar
*.bak
*.o
test/*
!test/*.c
!test/*.py
*.out
